<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testtts">
    <classes>
      <class name="ex_22Jun2024_CRUD_Operations.Lab211_Post_BDDStyle_Request"/>
      <class name="ex_22Jun2024_CRUD_Operations.Lab212_NonBDDStylePost_Req"/>
    </classes>
  </test> <!-- Testtts -->
</suite> <!-- Suite -->
